@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

.full-width-1 {
  background: #E4CCB4;
}

.full-width-2 {
  background: #d3b8ff;
}

.full-width-3 {
  background: #3570ce;
}

.full-width-4 {
  background: #C0C3C5;
}

.text-center img {
  border-radius: 100%;
  border: 2px solid #3570ce;
}

.formulario-login {
  width: 225px;
}

hr {
  background-color: success;
  height: 1px;
  border: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
