body {
  overflow-x: hidden;
}

.full-width-1 {
  background: #cbf9a4;
}

.full-width-2 {
  background: #a4c5f9;
}

.full-width-3 {
  background: #3570ce;
}

.full-width-4 {
  background: #c2bee0;
}

.text-center img {
  border-radius: 100%;
  border: 2px solid #3570ce;
}

.formulario-login {
  width: 225px;
}

hr {
  background-color: success;
  height: 1px;
  border: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
  display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button {
  display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
  color: #2c3e50;
}

/* A few custom styles for date inputs */
input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  color: #95a5a6;
  font-family: "Helvetica", arial, sans-serif;
  font-size: 16px;
  border: 1px solid #ecf0f1;
  background: #ecf0f1;
  padding: 0px;
  display: inline-block !important;
  visibility: visible !important;
}

input[type="date"],
focus {
  color: #95a5a6;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
